.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (min-width: $tabletWidth) {
    flex-direction: row;
    gap: 20px;
    align-items: start;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: column;
    align-items: center;
  }
}

.advantage__info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: $tabletWidth) {
    align-items: start;
    gap: 10px;
  }

  @media (min-width: $desktopWidth) {
    align-items: center;
    gap: 12px;
  }
}

.advantage__name {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $baseBlack;

  @media (min-width: $tabletWidth) {
    font-size: 24px;
    line-height: 1.5;
  }
}

.advantage__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $baseBlack;
  text-align: center;

  @media (min-width: $tabletWidth) {
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
  }

  @media (min-width: $desktopWidth) {
    text-align: center;
  }
}

.advantage__icon {
  min-width: 52px;
  min-height: 56px;
}
