.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.advantage__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.advantage__name {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $baseBlack;
}

.advantage__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $baseBlack;
  text-align: center;
}
