.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  width: $mobile-start;
  padding: 50px 20px 60px;
  gap: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    gap: 60px;
    padding: 60px 30px 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 102px 40px 60px;
    gap: 78px;
  }
}

.advantages__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;

  @media (min-width: $desktop-width) {
    gap: 6px;
  }
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 339px 339px;
    column-gap: 30px;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 318px 317px 318px 318px;
  }
}
