.catalog {
  display: flex;
  flex-direction: column;
  background-color: $lightestGrey;
  width: 100%;
}

.catalog__container {
  width: $mobileStart;
  padding: 50px 20px 44px;
  margin: 0 auto;
}

.catalog__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  margin-bottom: 22px;
}

.catalog__filter {
  margin-bottom: 38px;
}
