.developed-by {
  color: $base-grey;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 16px;
}


.developed-by__icon {
  position: relative;
  top: 4px;
}

.developed-by__copyright {
  position: relative;
  color: $base-grey;

  &:hover,
  &:focus {
    > .developed-by__icon,
    > .developed-by__name {
      color: $base-primary;
    }
  }

  &:active {
    > .developed-by__icon,
    > .developed-by__name {
      color: $primary-darker;
    }
  }
}

.developed-by__text {
  color: $base-grey;
}
