.footer-contacts {
  padding-bottom: 8px;
}

.footer-contacts__header {
  margin-bottom: 20px;
}

.footer-contacts__item {
  position: relative;
  padding: 0 0 0 20px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Расположенине иконок в блоке контактов */
.footer-contacts__icon {
  position: absolute;
  top: -2px;
  left: -20px;
}

.footer-contacts__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  color: inherit;
}
