.form {
  @media (min-width: $tablet-width) {
    max-width: 728px;
    display: grid;
    grid-template-columns: 227px 227px 227px;
    column-gap: 21px;
    row-gap: 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
  }
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  width: 160px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    flex-direction: row;
    width: 316px;
    gap: 30px;
    margin: 0 0 0 180px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    gap: 18px;
    margin: 6px 0 0 0;
  }
}

.form__button {
  width: 160px;
  min-height: 45px;
  border-radius: 4px;
  padding: 10px 0;
  text-align: center;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &--submit {
    font-size: 13px;
    color: $base-white;
    background-color: $base-primary;

    &:disabled {
      cursor: default;
      background-color: $base-grey;
    }
  }

  &--reset {
    font-size: 14px;
    color: $base-primary;
    background-color: $base-white;

    &:disabled {
      cursor: default;
      background-color: $light-grey;
      color: $base-white;
    }
  }

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    color: $base-white;
    background-color: $primary-darker;
  }

  @media (min-width: $tablet-width) {
    min-height: 40px;
    padding: 8px 0;

    &--submit {
      width: 148px;
    }

    &--reset {
      width: 138px;
    }
  }

  @media (min-width: $desktop-width) {
    &--submit,
    &--reset {
      width: 150px;
      padding: 9px 0;
    }
  }
}
