.map {
  display: block;
  min-width: $mobile-start;
  max-width: $mobile-only;
  height: 420px;
  margin-bottom: 0;
  padding: 0;
  background-color: $lightest-grey;

  > .mapid {
    width: 100%;
    height: 100%;
  }

  picture {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 480px;
    min-width: $tablet-width;
    max-width: $tablet-only;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
    min-width: $desktop-width;
    max-width: 100%;
  }
}

.map--nojs {
  picture {
    display: block;
    margin: 0 auto;
  }

  img {
    display: block;
    width: $mobile-start;
  }

  > .mapid {
    display: none;
  }

  @media (min-width: $tablet-width) {
    img {
      width: $tablet-width;
      height: 480px;
    }
  }

  @media (min-width: $desktop-width) {
    img {
      width: $desktop-width;
      height: 540px;
    }
  }
}

.map__container {
  width: $mobile-start;
  display: flex;
  margin: 0 auto;

  picture {
    width: $mobile-start;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;

    picture {
      width: $tablet-width;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    picture {
      width: $desktop-width;
    }
  }
}
