/* Стилизация футера сайта */
.page-footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: $mobileStart;
  background-color: $baseWhite;
  padding: 0 0 20px;

  @media (min-width: $tabletWidth) {
    width: $tabletWidth;
    padding: 0;
  }

  @media (min-width: $desktopWidth) {
    width: $desktopWidth;
    padding: 40px;
  }
}

.page-footer__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (min-width: $tabletWidth) {
    width: $tabletWidth;
    padding: 0 20px;
  }

  @media (min-width: $desktopWidth) {
    width: 1360px;
    padding: 0;
    display: grid;
    grid-template-columns: 317px 318px 317px 318px;
    column-gap: 30px;
  }
}

/* Расположение блока социальных контактов */
.page-footer__social {
  padding: 19px 20px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px $baseSecondary;

  @media (min-width: $tabletWidth) {
    padding: 40px 0 27px;
    border: none;
  }

  @media (min-width: $desktopWidth) {
    padding: 0;
    flex-direction: column;
    grid-column: 1 / 2;
    gap: 50px;
  }
}

.page-footer__blocks-group {
  display: flex;
  flex-direction: column;
  width: $mobileStart;

  @media (min-width: $tabletWidth) {
    width: 728px;
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
  }

  @media (min-width: $desktopWidth) {
    grid-column: 2 / 5;
    grid-template-columns: 318px 317px 318px;
    width: 100%;
  }
}

.page-footer__item {
  width: 100%;
  padding: 20px 20px 16px;
  border-bottom: solid 1px $baseSecondary;

  @media (min-width: $tabletWidth) {
    padding: 0;
    border: none;
  }
}

.page-footer__item-header {
  margin: 0 0 12px;
  padding: 0;
  min-height: 20px;

  @media (min-width: $desktopWidth) {
    padding: 9px 0 0;
    margin: 0 0 13px;
  }
}

.page-footer__item-title {
  font-weight: 700;
  color: $basePrimary;
  letter-spacing: 0.02em;
}

.page-footer__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.page-footer__inner-item {
  min-height: 32px;
  padding: 5px 0;
  margin-bottom: 4px;

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $baseBlack;
    position: relative;

    &:hover,
    &:focus {
      color: $primaryLighter;
    }

    &:active {
      color: $primaryDarker;
    }
  }
}

.page-footer__developed-by {
  margin: 0 auto;
  padding: 16px 0 10px;

  @media (min-width: $tabletWidth) {
    padding: 23px 0;
  }

  @media (min-width: $desktopWidth) {
    grid-column: span 4;
    padding: 12px 0;
  }
}
