.page-main {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100vw;
}

.page-main__badge {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
}

.page-main__title {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.5;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 1.52;
  }
}

.page-main__new,
.page-main__advantages,
.page-main__catalog {
  margin: 0 auto;
}

.page-main__advantages {
  @media (min-width: $tablet-width) {
    margin: 0 auto 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 58px;
  }
}
