.range {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 36px;

  @media (min-width: $tablet-width) {
    width: 220px;
    gap: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    gap: 33px;
  }
}

.range__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: -1px;
  height: 4px;
  background-color: $primary-lighter;
  left: 0;
  width: 241px;

  @media (min-width: $tablet-width) {
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.range__toggle {
  position: relative;
  top: -11px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $base-white;
  border: solid 2px $primary-lighter;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &--min {
    left: 0;
  }

  &--max {
    right: -19px;
  }

  &:hover,
  &:focus {
    outline: none;

    &::after {
      content: "";
      background-color: rgba($base-primary, 0.25);
    }
  }

  &:active {
    border-color: $base-primary;

    &::after {
      background-color: $base-primary;
    }
  }
}

.range__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 2px;
    top: 18px;
    left: 135px;
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    max-width: 220px;

    &::after {
      top: 20px;
      left: 105px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 318px;

    &::after {
      top: 19px;
      left: 155px;
    }
  }
}

.range__input {
  width: 118px;
  min-height: 38px;
  padding: 7px 10px;
  border: solid 2px $primary-lighter;
  border-radius: 4px;
  background-color: $base-white;
  color: $base-black;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $base-grey;
  }

  &:focus {
    border-color: $primary-darker;
  }

  &:disabled {
    background-color: $lightest-grey;
    border-color: $light-grey;
    color: $light-grey;
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    width: 93px;
    min-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    min-height: 38px;
    padding: 6px 10px;
  }
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range__scale {
  position: relative;
  height: 2px;
  width: 280px;
  background-color: $light-grey;

  &--disabled {
    .range__bar {
      background-color: $base-grey;
    }

    .range__toggle {
      cursor: default;
      background-color: $lightest-grey;
      border-color: $base-grey;
    }
  }

  @media (min-width: $tablet-width) {
    width: 217px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}
