.social {
  display: flex;
  width: 100%;
  min-height: 40px;
}

.social__logo {
  margin-right: 38px;

  @media (min-width: $tabletWidth) {
    img {
      width: 170px;
    }
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    gap: 6px;
  }
}

.social__logo-subtitle {
  @media (max-width: $tabletOnly) {
    @include visually-hidden;
  }

  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $baseBlack;
}

.social__links {
  @include reset-list;
  display: flex;
  flex-direction: row;
  width: auto;
}
