/* здесь используйте глобальные переменные */
$baseWhite: #ffffff;
$baseGrey: #bdbdbd;
$baseBlack: #333333;
$basePrimary: #7859cf;
$baseSecondary: #f0ebff;
$primaryLighter: #9070ec;
$primaryDarker: #593cac;
$lightGrey: #e2e2e2;
$espresspp: #e5e6e8;
